img {
	max-width: 100%;
}
.nav {
	display: flex;
	justify-content: space-between;
	background: black;
	align-items: center;
}

.header {
	text-decoration: none;
	color: inherit;
	display: flex;
	justify-content: center;

}
.wid {
	width: 5%;
}